body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  height: 100vh;
}

.v20_3050 {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  border-bottom: 2px solid #e0e0e0;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  color: #d32f2f;
}

.search {
  flex-grow: 1;
  margin: 0 20px;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.menu {
  position: relative;
}

.menu-toggle {
  font-family: "Inika", serif;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.menu-content.active {
  display: block;
}

.menu-content span {
  display: block;
  padding: 10px 20px;
  font-family: "Inika", serif;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.menu-content span:hover {
  background-color: #f0f0f0;
}

.reservation-history {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-label {
  font-size: 18px;
  color: #555;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  border-bottom: 2px solid #e0e0e0;
}

.logo-search-container {
  display: flex;
  align-items: center;
}

.search {
  margin-left: 20px; /* Add space between the logo and the search bar */
  max-width: 300px; /* Limit the width of the search bar */
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.sort-label {
  font-size: 18px;
  color: #555;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table thead tr {
  background-color: #f0f0f0;
  font-weight: bold;
}

.history-table th,
.history-table td {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
}

.history-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
