* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.start {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.rightPillar {
  width: 100%;
  height: 356px;
  background: rgba(120,118,118,1);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 358px;
}
.topDash {
  width: 100%;
  height: 132px;
  background: rgba(97,97,97,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 1442px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bookSelect {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 282px;
  left: 74px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.listSelect {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 349px;
  left: 88px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.resSelect {
  width: 180px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 224px;
  left: 102px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10_63 {
  width: 16px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 353px;
  left: 885px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.selection {
  width: 356px;
  height: 70px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.addReslbl {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 132px;
  left: 358px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.locationlbl {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 399px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.partySizelbl {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 335px;
  left: 430px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.locationBox {
  width: 315px;
  height: 44px;
  background: url("../images/v15_476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 430px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.emailBox {
  width: 315px;
  height: 44px;
  background: url("../images/v15_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 684px;
  left: 430px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.phoneNumBox {
  width: 315px;
  height: 44px;
  background: url("../images/v15_485.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 430px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.timeBox {
  width: 315px;
  height: 44px;
  background: url("../images/v15_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 815px;
  left: 925px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.firstNamBox {
  width: 315px;
  height: 44px;
  background: url("../images/v15_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 430px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.lastNamBox {
  width: 315px;
  height: 44px;
  background: url("../images/v15_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 605px;
  left: 430px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.partySizeBox {
  width: 174px;
  height: 44px;
  background: url("../images/v15_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 430px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.firstNamlbl {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 505px;
  left: 427px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.lastNamlbl {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 583px;
  left: 425px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.emaillbl {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 664px;
  left: 398px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.phoneNumlbl {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 743px;
  left: 412px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.timelbl {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 793px;
  left: 902px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.bookButton {
  width: 261px;
  height: 46px;
  background: rgba(167,167,167,1);
  opacity: 1;
  position: absolute;
  top: 940px;
  left: 745px;
  overflow: hidden;
}
.book {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 954px;
  left: 788px;
  font-family: NATS;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.logo {
  width: 102px;
  height: 88px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 102px;
}
.gourmetLogo {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 58px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
