* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.pageSize {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.topBar {
  width: 100%;
  height: 138px;
  background: rgba(246,246,246,0.41999998688697815);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  color: #fff;
}
.background {
  width: 128px;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 100px;
  overflow: hidden;
}
.logo {
  width: 102px;
  height: 88px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
}
.gourmetLogo {
  width: 387px;
  color: rgba(185,30,30,1);
  position: absolute;
  top: 4px;
  left: 46px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.custName {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 1610px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.leftBar {
  width: 251px;
  height: 212px;
  background: rgba(251,251,251,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 1652px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.searchOnTopPage {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 358px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.accoutOption {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 162px;
  left: 1700px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.notifOption {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 209px;
  left: 1700px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.signOutOption {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 310px;
  left: 1715px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.selection {
  width: 251px;
  height: 44px;
  background: rgba(217,217,217,0.3199999928474426);
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 1652px;
  overflow: hidden;
}
.historyOption {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 249px;
  left: 1710px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.resHistoryHeader {
  width: 499px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 157px;
  left: 50px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.backshadow {
  width: 990px;
  height: 808px;
  background: rgba(251,251,251,1);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 450px;
  overflow: hidden;
}
.amount3 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 542px;
  left: 1315px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.amount1 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 339px;
  left: 1315px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.partySize3 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 530px;
  left: 866px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
/*.mayNoteNeed4 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 439px;
  left: 222px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.mayNoteNeed3 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 540px;
  left: 221px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}*/
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.searchHistHeading {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 500px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.sortOption {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 1290px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
/*.mayNoteNeed2 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 273px;
  left: 210px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}*/
.histDate {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 273px;
  left: 500px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.histPartySize {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 273px;
  left: 1070px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.histAmount {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 273px;
  left: 1300px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.line1 {
  width: 989px;
  background: url("../images/v21_488.png");
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 450px;
  border: 1px solid rgba(0,0,0,0.20999999344348907);
}
.line2 {
  width: 989px;
  background: url("../images/v21_490.png");
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 450px;
  border: 1px solid rgba(0,0,0,0.20999999344348907);
}
.line3 {
  width: 989px;
  background: url("../images/v21_492.png");
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 450px;
  border: 1px solid rgba(0,0,0,0.20999999344348907);
}
.name {
  color: #fff;
}
/*.mayNotNeed1 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 343px;
  left: 222px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}*/
.date1 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 344px;
  left: 510px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.date2 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 439px;
  left: 510px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.date3 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 540px;
  left: 510px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.partySize1 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 333px;
  left: 866px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.partySize2 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 424px;
  left: 866px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.amount2 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 440px;
  left: 1315px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
