* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.pageSize {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.topBar {
  width: 100%;
  height: 138px;
  background: rgba(246,246,246,0.41999998688697815);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  color: #fff;
}
.backLogo {
  width: 128px;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 100px;
  overflow: hidden;
}
.logo {
  width: 102px;
  height: 88px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
}
.gourmetlogo {
  width: 387px;
  color: rgba(185,30,30,1);
  position: absolute;
  top: 4px;
  left: 46px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.custName {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 1610px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.leftBarselection {
  width: 251px;
  height: 212px;
  background: rgba(251,251,251,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 1652px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.searchlbl {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 56px;
  left: 358px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.accountlbl {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 162px;
  left: 1700px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.notificationlbl {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 209px;
  left: 1700px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.signOutlbl {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 310px;
  left: 1715px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.historylbl{
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 249px;
  left: 1710px;
  font-family: Inika;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
